{% load static %}
{% include "italian_practice/italian_header.html" %} 
  <div class="retro-grid"> 
  <section class="arcade_section layout_padding_game">
    <div class="container ">
      <div class="heading_container btn-box-general">
        <div class="center-general-padding-s"></div>
          <div class="glow-text-title">Under Construction</div>
        </div>
        
        <div class="center-general-padding-s">
          <iframe src="https://giphy.com/embed/7NoNw4pMNTvgc" width="480" height="480" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
      </div>
    </div>
  </section>
{% include "italian_practice/italian_footer.html" %} 